.company-card {
  position: relative;
  width: 362px;
  height: 307px;
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.company-content {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
  background: blue;
  padding: 20px;
}

.company-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.divider {
  width: 90%;
  border: 0;
  border-top: 1px solid #ffffffb5;
  margin: 20px 0;
}

.stats-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.stat {
  text-align: center;
}

.stat-value {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffffff;
  display: block;
}

.stat-label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffffb5;
  display: block;
}

.divider-icon {
  width: 24px;
  height: 24px;
}
